body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300 ;
    font-size: 0.8rem;
    margin: 0;
}
/* HEADER AND NAVIGATION */

/* font-family: 'Lora', serif; */
/* font-family: 'Ubuntu', sans-serif; */



header {
    background-color: #F8F8F8;
    padding: 20px;
    
}


.heading {
    color: #143774;
    font-size:1.5rem ;
    margin: 0%;
    font-weight: 400;
}

.subtitle {
    color: #1792D2;
    font-size: 0.75rem;
    margin: 0;
    font-weight: 700;
    letter-spacing:0.2em;
    text-transform: uppercase;
}
.header-content {
    display:flex;
    justify-content: space-between;
    
    max-width:900px;
    margin:0 auto;
    align-items: center;
    
}

.heading-and-subtitle, .navi {
    
    text-align: center;
}

 .navi-flex{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    
}

.nav-pills {
        padding: 1px 15px;

}

.nav-links {
    text-decoration: none;
    font-family: 'ubuntu', sans-serif;
    font-weight: 700;
    color: #717171;
    font-size: 0.8rem;

}



.nav-links:hover, .nav-links:focus {
    color: rgb(0, 195, 255);
}

.link-active {
    border-bottom: 2px solid #717171;
    padding-bottom: 2px;

}

.link-active:hover {
    text-decoration: none;
    color: #717171;
}

h1, h2, h3 {
    font-family: 'lora', sans-serif;
}


/* Main and aside in body */

h2 {
    color: #143774;
    font-size: 24px;
    font-weight: 300;
   
}

.heading1 {
    font-size: 1.2rem;
}

.heading2 {
    font-size: 1.2rem;
    color: #1792D2;
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items:flex-start ;
    justify-content: space-between;
    padding: 20px 0;

   

}

.main-content {
    width: 70%;
    color:#717171;
}

.aside-box {
    background-color:#EBEBEB;
    width: 25%;
    
    text-align: center;
}
.aside-content {
    background-color: #F8F8F8;
    margin: 20px;
    padding: 5px;
}

.girl-pic {
    width: 100%;
   
}

.aside-pic {
    width: 80%;
   
}


/* footer */

footer {
    background-color: #143774;

}

.foot-content {
    max-width: 700px;
    margin: auto;
    text-align: center;
    color:#EBEBEB;
    
    padding: 35px;

}

footer p {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 300;

    
    
}